.row
  %header
    .col-sm-6.text-left
      %span.visible-sm.visible-md.visible-lg
        =image_tag( "treetown_text.png", title: "Tree Town" )
    .col-sm-6.text-right
      =image_tag( "kids_white_115x80.png", title: "Children" )
= nav_bar responsive: true do
  = menu_group do
    - Category.all.order(:id).each do |c|
      - if c.pages.count == 1
        = menu_item c.pages.first.title, c.pages.first == Page.homepage ? root_path : page_path(c.pages.first.slug)
      - else
        = drop_down c.name do
          - c.pages.each do |p|
            = menu_item p.title, page_path(p.slug)
  - if logged_in?
    = menu_group pull: :right do
      = menu_item "Admin", categories_path, pull: :right
